@import 'reset';
@import 'content';
@import 'menu';
@import 'tooltip';

:root {
  --darkreader-neutral-background: #131516;
  --darkreader-neutral-text: #d8d4cf;
  --darkreader-selection-background: #004daa;
  --darkreader-selection-text: #e8e6e3;
}

html {
  color-scheme: dark !important;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: rgb(200, 195, 188);
  background-color: rgb(24, 26, 27);
}

* {
  box-sizing: border-box;
}

.hidden {
  display: none !important;
}

canvas {
  transform: translateZ(0px);
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 40px;
}

.sketch-picker  {
  background-color: rgb(24, 26, 27)!important;
  border-color: rgb(62, 68, 70)!important;;
}
