@import 'reset';
@import 'content';
@import 'menu';
@import 'tooltip';

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

* {
  box-sizing: border-box;
}

.hidden {
  display: none !important;
}

canvas {
  transform: translateZ(0px);
}
