.menu {
  width: 400px;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  display: block;
  padding: 20px;
  z-index: 2;
  background-color: rgb(24, 26, 27);
  border-left-color: rgba(140, 130, 115, 0.5);
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  border-bottom: 1px solid #e5e5e5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  max-width: 100%;
  color: rgb(200, 195, 188);
  border-top-color: initial;
  border-right-color: initial;
  border-left-color: initial;
  cursor: pointer;
  border-bottom-color: rgb(55, 60, 62);
}

h4 {
  padding-top: 10px;
  font-weight: bold;
  font-size: 1.1em;
}

legend:hover {
  color: #00ffe9;
}

.form-group {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-group:before,
.form-group:after {
  content: " ";
  display: table;
}

.form-group:after {
  clear: both;
}

.form-group:hover label,
.form-group:hover .form-control,
.form-group:hover .btn {
  scale: 1.05;
}

.form-group:hover label {
  color: #00ffe9;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.col-xs-1 {
  width: 13%;
}

.col-xs-2 {
  width: 16.666666665%;
}

.col-xs-4 {
  width: 33.33333333%;
}

.col-xs-5 {
  width: 50%;
}

.col-xs-8 {
  width: 66.66666667%;
}

.col-xs-10 {
  width: 100%;
}

.form-label {
  font-size: 90%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  background-image: none;
  border-radius: 4px;
  color: rgb(178, 172, 162);
  background-color: rgb(24, 26, 27);
  box-shadow: #000 4px 4px 7px inset;
  border: 1px solid rgb(62, 68, 70);
}

.form-control:hover {
  scale: 1.05;
  border: 1px solid #00ffe9;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-default {
  color: rgb(200, 195, 188);
  background-color: rgb(24, 26, 27);
  background-image: linear-gradient(rgb(24, 26, 27) 0px, rgb(42, 45, 47) 100%);
  text-shadow: rgb(24 26 27) 0px 1px 0px;
  border-color: rgb(62, 68, 70);
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
  -webkit-box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 1px 1px rgba(0, 0, 0, 0.075);
  background-image: linear-gradient(rgb(24, 26, 27) 0px, rgb(42, 45, 47) 100%);
  text-shadow: rgb(24 26 27) 0px 1px 0px;
  border-color: rgb(62, 68, 70);
}

.btn-default {
  background-image: -webkit-linear-gradient(top, #fff 0, #e0e0e0 100%);
  background-image: -o-linear-gradient(top, #fff 0, #e0e0e0 100%);
  background-repeat: repeat-x;
  background-image: linear-gradient(rgb(42, 45, 47) 0px, rgb(24, 26, 27) 100%);
  text-shadow: rgb(24 26 27) 0px 1px 0px;
  border-color: rgb(62, 68, 70);
}

.btn-default:hover,
.btn-default.active {
  background-image: linear-gradient(#0d9a8e 0px, rgb(0, 50, 82) 100%);
  scale: 1.05;
}

h1 {
  text-align: center;
  font-size: 19px;
  color: #00ffe9;
}

.collapse {
  display: none;
}

.showContent {
  cursor: pointer;
  color: #2fff00;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.showContent:hover {
  cursor: pointer;
  color: #00ffb9;
}
.explanation {
  margin-bottom: 20px;
  display: none;
  flex-direction: column;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: 1px solid #6c6c6c;
  padding: 5px 10px;
  margin-top: 10px;
  background: #111111;
}
.explanation.show {
  display: flex;
}
.explanation span {
  padding: 5px 0;
}

ul {
  padding-left: 1.5rem;
}

li {
  list-style: disc;
}

b {
  color: #72c0b9;
  padding-right: 2px;
}

a {
  color: #2fff00;
}
a:hover {
  color: #00ffb9;
}

.btn-remove {
  background-image: linear-gradient(rgb(71, 11, 11) 0px, rgb(136, 13, 13) 100%);
}

h3 {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: inherit;
  border-bottom: 1px solid #e5e5e5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  max-width: 100%;
  border-top-color: initial;
  border-right-color: initial;
  border-left-color: initial;
  border-bottom-color: rgb(55, 60, 62);
  cursor: pointer;
  color: #2fff00;
}

h3:hover {
  color: #00ffe9;
}

.alert {
  border: 1px solid #ff0000;
}
